<?php
/**
 * Class {{ className }}
 *
 *   Acceso a datos para la tabla {{ tableName }}
 *   {{ tableComment }}
 *
 * @package {{ namespace }}
 * @author {{ author }}
 * @version {{ author }}
 */

namespace {{ namespace }};

use \{{ namespace }}\DAO\{{ className }} as {{ className }}DAO;

class {{ className }} extends {{ className }}DAO {

}