<?php
/**
 * Class {{ className }}
 * Data Access Object para la vista {{ tableName }}
 * @package {{ namespace }}\DAO
 * @author {{ author }}
 * @version {{ author }}
 */

namespace {{ namespace }}\DAO;

use \{{ namespace }}\Core\Database as Database;
use \{{ namespace }}\Utils\QueryAdapter;

class {{ className }} extends Database
{

    protected static $tableName = '{{ tableName }}';

    /**
     * Devuelve un registro basado en su PK
{% for pk in pks %}
     * @param {{ pk.VAR_TYPE }} ${{ pk.COLUMN_NAME }} {{ pk.COLUMN_COMMENT }}
{% endfor %}
     * @param null $flags
     * @return array|bool|\{{ namespace }}\DTO\{{ className }}
     */
    public static function get({% for pk in pks %}${{ pk.COLUMN_NAME }}{% if not loop.last %}, {% endif %}{% endfor %}, $flags = null)
    {
        return self::getBy('{% for pk in pks %}{{ pk.COLUMN_NAME }} = :{{ pk.COLUMN_NAME }}{% if not loop.last %} AND {% endif %}{% endfor %}', array({% for pk in pks %}'{{ pk.COLUMN_NAME }}' => ${{ pk.COLUMN_NAME }}{% if not loop.last %},{% endif %}{% endfor %}), $flags);
    }

    /**
    * Consulta la tabla y devuelve un registro
    * @param string $where Filtro SQL de búsqueda
    * @param array $bind Parámetros del consulta
    * @param int $flags [opcional] Máscara de bits compuesta por DB_FLAG_DEBUG, DB_FLAG_DEBUG_ATTRIBUTES, DB_FLAG_PERSISTENT, DB_FLAG_LOCAL_INFILE, DB_FLAG_INSERT_IGNORE
    * @return bool|\{{ namespace }}\DTO\{{ className }}
    */
    public static function getBy($where, $bind, $flags = 0)
    {
        self::$FLAGS = $flags;
        self::connect();
        if (self::isConnected()) {
            try {
                self::query("SELECT * FROM " . self::$tableName . " WHERE " . $where);
                self::bindArray($bind);
                $resultValue = self::single(str_replace('DAO','DTO',__CLASS__));
            } catch (\PDOException $e) {
                self::$errorMsg = $e->getMessage();
                $resultValue = false;
            }
            self::debug();
            self::disconnect();
            return $resultValue;
        } else {
            return false;
        }
    }

    /**
    * Devuelve todos los registros
    * @param int $flags [opcional] Máscara de bits compuesta por DB_FLAG_DEBUG, DB_FLAG_DEBUG_ATTRIBUTES, DB_FLAG_PERSISTENT, DB_FLAG_LOCAL_INFILE, DB_FLAG_INSERT_IGNORE
    * @return bool|\Data\Utils\ResultAdapter
    */
    public static function getAll($flags = 0)
    {
        return self::getAllBy();
    }

    /**
    * Realiza una consulta
    * @param QueryAdapter|null $params
    * @param int $flags [opcional] Máscara de bits compuesta por DB_FLAG_DEBUG, DB_FLAG_DEBUG_ATTRIBUTES, DB_FLAG_PERSISTENT, DB_FLAG_LOCAL_INFILE, DB_FLAG_INSERT_IGNORE
    * @return bool|\Data\Utils\ResultAdapter
    */
    public static function getAllBy (QueryAdapter $params = null, $flags = 0)
    {
        self::$FLAGS = $flags;
        self::connect();
        if(self::isConnected()) {
            if (!$params) $params = new QueryAdapter();
            try {
                if ($params->getLimit()) {
                    // Obtener número total de registros sin paginar
                    self::query($params->buildFilteredCountStatement(self::$tableName));
                    if (count($params->getBind())>0) self::bindArray($params->getBind());
                    $result = self::resultset();
                    $params->result->totalRecords = $result[0]['total'];
                    $params->result->totalDisplayRecords = $result[0]['total'];
                    $params->result->firstRecord = $params->getLimit()[0];
                    $params->result->pageSize = $params->getLimit()[1];
                }
                // Obtener el recordset
                self::query($params->buildSelectStatement(self::$tableName));
                if (count($params->getBind())>0) self::bindArray($params->getBind());
                $params->result->data =  self::resultset(str_replace('DAO','DTO',__CLASS__));
                $return = $params->result;
            } catch (\PDOException $e) {
                self::$errorMsg = $e->getMessage();
                $return = false;
            }
            self::debug();
            self::disconnect();
            return $return;
        } else {
            self::debug();
            return false;
        }
    }

}