<?php
/**
 * Class Database
 *
 * @package {{ namespace }}
 * @version {{ version }}
 */

namespace {{ namespace }}\Core;

use PC;
use PDO;
use PDOException;

class Database
{

    /**
     * @var string Nombre o IP del host de base dde datos
     */
    private static $host = DB_HOST_{{ namespace|upper }};

    /**
     * @var string Puerto de conexión
     */
    private static $port = DB_PORT_{{ namespace|upper }};
    
    /**
     * @var string Nombre de la base de datos
     */
    private static $dbname = DB_DATABASE_{{ namespace|upper }};

    /**
     * @var string Nombre de usuario
     */
    private static $user = DB_USER_{{ namespace|upper }};
    
    /**
     * @var string Password de acceso a la base de datos
     */
    private static $pass = DB_PASS_{{ namespace|upper }};

    /**
     * @var array Opciones de conexión a la base de datos
     */
    private static $options;

    /**
     * @var int Opciones
     */
    protected static $FLAGS;

    /**
     * @var string Mensaje de error
     */
    protected static $errorMsg;

    /**
     * @var \PDO
     */
    private static $dbhandler;

    /**
     * @var \PDOStatement
     */
    public static $statement;

    /**
     * Crea una nueva instancia PDO en la base de datos
     */
    public static function connect()
    {
        self::$options = json_decode(DB_OPTIONS_DATA, true);

        if (self::$FLAGS & DB_FLAG_PERSISTENT) self::$options[PDO::ATTR_PERSISTENT] = true;
        if (self::$FLAGS & DB_FLAG_LOCAL_INFILE) self::$options[PDO::MYSQL_ATTR_LOCAL_INFILE] = true;

        $dsn = 'mysql:host=' . self::$host. ';port=' . self::$port . ';dbname=' . self::$dbname . ';charset=UTF8';

        try {
            self::$dbhandler = new PDO($dsn, self::$user, self::$pass, self::$options);
        } catch (PDOException $e) {
            self::$errorMsg = $e->getMessage();
        }
    }

    /**
    * Comprueba si existe una conexión activa a la base de datos
    * @return bool
    */
    public static function isConnected()
    {
        return (self::$dbhandler != null);
    }

    /**
    * Se desconecta de la base de datos
    */
    public static function disconnect()
    {
        self::$dbhandler = null;
    }

    /**
    * @param $query
    */
    public static function query($query)
    {
        self::$statement = self::$dbhandler->prepare($query);
    }


    /**
    * Añade valores a la consulta
    * @param $param - Placeholder a sustituir
    * @param $value - Valor a sustituir
    * @param null $type - Tipo de datos del parámetro
    */
    public static function bind($param, $value, $type = null)
    {
        if (is_null($type)) {
            switch (true) {
                case is_int($value):
                    $type = PDO::PARAM_INT;
                    break;
                case is_bool($value):
                    $type = PDO::PARAM_BOOL;
                    break;
                case is_null($value):
                    $type = PDO::PARAM_NULL;
                    break;
                default:
                    $type = PDO::PARAM_STR;
            }
        }
        self::$statement->bindValue(':' . $param, $value, $type);
    }

    /**
    * Añade múltiples valores a una consulta
    * @param $array - Array de valores :placeholder => value
    */
    public static function bindArray($array)
    {
        if (is_array($array)) {
            foreach ($array as $key=>$value) {
                self::bind($key, $value);
            }
        }
    }

    /**
    * Ejecuta una sentencia SQL preparada
    * @return mixed
    */
    public static function execute()
    {
        return self::$statement->execute();
    }

    /**
    * Ejecuta una sentencia SQL y devuelve el número de filas afectadas
    * @param $query
    * @return mixed
    */
    public static function exec($query)
    {
        return self::$dbhandler->exec($query);
    }

    /**
    * Realizar una consulta y devuelve un registro en un array asociativo o un objeto
    * @param string $className - Nombre de la clase del objecto a retornar, si no se indica se devuelve un array asociativo
    * @return mixed
    */
    public static function single($className='')
    {
        self::execute();
        if ($className!='') {
            self::$statement->setFetchMode(PDO::FETCH_CLASS, $className);
            return self::$statement->fetch();
        } else {
            return self::$statement->fetch(PDO::FETCH_ASSOC);
        }
    }

    /**
    * Realiza la consulta y devuelve un array asociativo o un array de objetos
    * @param string $className - Nombre de la clase del objecto a retornar, si no se indica se devuelve un array asociativo
    * @return mixed
    */
    public static function resultset($className='')
    {
        self::execute();
        if ($className!='') {
            self::$statement->setFetchMode(PDO::FETCH_CLASS, $className);
            return self::$statement->fetchAll();
        } else {
            return self::$statement->fetchAll(PDO::FETCH_ASSOC);
        }
    }

    /**
    * Comprueba si un array asociativo
    * @param $array - Array a comprobar
    * @return bool true si es un array asociativo y false en caso contrario
    */
    public static function is_assoc($array)
    {
        return (bool)count(array_filter(array_keys($array), 'is_string'));
    }

    /**
    * Devuelve el número de registros afectados por la sentencia
    * @return mixed
    */
    public static function rowCount()
    {
        return self::$statement->rowCount();
    }

    /**
    * Devuelve el id del último registro insertado
    * @return mixed
    */
    public static function lastInsertId()
    {
        return self::$dbhandler->lastInsertId();
    }

    /**
    * Indica si se ha activado la depuración
    * @return bool true si se ha activado la depuración y false en caso contrario
    */
    protected static function getDebug() {
        return (self::$FLAGS & DB_FLAG_DEBUG) == DB_FLAG_DEBUG;
    }

    /**
    * Activa la depuración
    */
    protected static function debug ()
    {

        if (!self::getDebug()) return;

        $error = (!empty(self::$errorMsg)) ? array("Error" => self::$errorMsg):array();

        if(!empty(self::$statement)) $error["SQL Statement"] = self::debugDumpParams();

        $backtrace = debug_backtrace();

        if(!empty($backtrace)) {
            foreach($backtrace as $info) {
                if ($info["file"] != __FILE__) $error["Backtrace"] = $info["file"] . " at line " . $info["line"];
            }
            $error["Backtrace"] = $backtrace;
        }

        $attributes = self::debugAttributes();

        if ($attributes) $error['attributes'] = $attributes;

        PC::debug($error);

    }

    /**
    * Añade a la información de depuración el contenido de la sentencia preparada
    * @return mixed
    */
    protected static function debugDumpParams()
    {
        // Activar buffer
        ob_start();
        self::$statement->debugDumpParams();
        $debugStr = ob_get_contents();
        ob_end_clean();
        return $debugStr;
    }

    /**
    * Añade a la información de depuración los atributos de conexión a la base de datos
    * @return mixed
    */
    protected static function debugAttributes()
    {
        if (self::$FLAGS & DB_FLAG_DEBUG_ATTRIBUTES) {

            $return = array();

            $attributes = array(
                "AUTOCOMMIT",
                "ERRMODE",
                "CASE",
                "CLIENT_VERSION",
                "CONNECTION_STATUS",
                "ORACLE_NULLS",
                "PERSISTENT",
                "SERVER_INFO",
                "SERVER_VERSION",
                "PREFETCH",
                "TIMEOUT"
            );

            foreach ($attributes as $val) {
                try {
                    $return["PDO::ATTR_$val"] = self::$dbhandler->getAttribute(constant("PDO::ATTR_$val"));
                } catch (PDOException $e) {
                }
            }

            return $return;

        } else {

            return false;

        }
    }

}