<?php
/**
 * Class {{ className }}
 * Domain Transfer Object para la tabla {{ tableName }}
 * @package {{ namespace }}\DTO
 * @author {{ author }}
 * @version {{ version }}
 */

namespace {{ namespace }}\DTO;

class {{ className }} {

{% for column in columns %}
    /**
    * @var {{ column.VAR_TYPE }} {{ column.COLUMN_COMMENT }}
    */
    public ${{ column.COLUMN_NAME }};

{% endfor %}
}