<?php
/**
 * Class {{ className }}
 * Data Access Object para el procedimiento almacenado {{ procedureName }}
 * @package {{ namespace }}\SP
 * @author {{ author }}
 * @version {{ author }}
 */

namespace {{ namespace }}\SP;

use \{{ namespace }}\Core\Database as Database;

class {{ className }} extends Database
{

    /**
     * {{ procedureComment }}
{% for parameter in parameters %}
     * @param {{ parameter.DATA_TYPE }} ${{ parameter.PARAMETER_NAME }}
{% endfor %}
     * @param null $flags
     * @return array|bool
     */
    public static function call({% for parameter in parameters %}${{ parameter.PARAMETER_NAME }}{% if not loop.last %}, {% endif %}{% endfor %}{% if parameters %}, {% endif %}$flags = null)
    {
        self::$FLAGS = $flags;

        self::connect();

        if (self::isConnected()) {

             $result = array();

            try {
                $sql = "CALL {{ procedureName }} ({% for parameter in parameters %}:{{ parameter.PARAMETER_NAME }}{% if not loop.last %}, {% endif %}{% endfor %})";
                self::query($sql);
                {% for parameter in parameters %}
self::bind('{{ parameter.PARAMETER_NAME }}', ${{ parameter.PARAMETER_NAME }});
                {% endfor %}self::execute();
                while (self::$statement->columnCount()) {
                    $result[] = (self::$statement->fetchAll());
                    self::$statement->nextRowset();
                };
            } catch (\PDOException $e) {
                self::$errorMsg = $e->getMessage();
                $result = false;
            }

            unset ($statement);

            if (count($result)==1) $result = $result[0];

            self::debug();
            self::disconnect();

            return $result;

        } else {

            self::debug();
            return false;

        }

    }

}